.task-options {
  width: 500px;
  padding: 70px 100px;
  margin: 0;
  height: 100vh;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.task-options input[type="color"] {
  background-color: transparent;
  border: none;
  margin-top: 9px;
}

.user-profile {
  display: flex;
  margin-bottom: 15px;
  position: relative;
}

.user-profile img {
  width: 70px;
  height: 70px;
  margin: auto 0;
}

.user-info {
  padding-left: 20px;
}

.user-info p {
  margin-top: -10px;
}

#logout-img {
  position: absolute;
  right: 0;
  top: 40%;
  margin-right: 20px;
}

#logout-img:hover {
  animation: wiggle 2s linear infinite;
}

.list-details {
  display: flex;
  width: 100%;
}

.colour-icon {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  margin: 15px 10px 0 0;
}

.list-details .counter-style {
  margin-left: auto;
  background-color: #cecece67;
}

.new-list {
  display: flex;
  background-color: #cecece67;
  transition: background-color 0.5s ease-in-out;
  border-radius: 15px;
  padding-left: 15px;
}

.new-list:hover {
  background-color: #eaebea5d;
}

.new-list img {
  cursor: pointer;
  padding: 10px;
  width: 20px;
  height: 20px;
  margin: 2px 0 0 -15px;
}

.new-list input[type="text"] {
  background-color: transparent;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

@media (max-width: 768px) {
  .task-options {
    margin-left: -20px;
    width: 100%;
    max-width: none;
    height: auto;
    min-height: 70vh;
    border-bottom: 5px solid rgba(0, 0, 0, 0.705);
  }

  .list-details,
  .new-list {
    max-width: 300px;
  }

  .user-profile {
    max-width: 340px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .task-options {
    width: 100%;
    max-width: none;
    height: auto;
    min-height: 70vh;
    border-bottom: 5px solid rgba(0, 0, 0, 0.705);
  }

  .list-details,
  .new-list {
    max-width: 600px;
  }

  .user-profile {
    max-width: 640px;
  }
}
