/* DASHBOARD */
.task-container {
  display: flex;
  text-align: left;
  padding: 20px;
}

.task-options {
  background-color: rgba(231, 231, 231, 0.377);
  width: 400px;
  padding: 30px;
  border-radius: 25px;
}

.task-list {
  width: 100%;
  padding: 20px;
  padding-left: 70px;
}

.user-profile {
  display: flex;
  margin-bottom: 15px;
}

.user-profile img {
  width: 70px;
  height: 70px;
  margin: auto 0;
}

.user-info {
  padding-left: 20px;
}

.user-info p {
  margin-top: -10px;
}

.user-profile-options img,
.toggle-tasks img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.user-profile-options {
  justify-content: space-between;
  margin-right: 10px;
}

.user-profile-options {
  text-align: left;
  margin-right: 10px;
}

.list-info,
.user-profile-options,
.toggle-tasks {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#task-options {
  padding-left: 35px;
}

.list-info:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 15px;
}

.list-info img {
  cursor: pointer;
}

.list-info input[type="text"] {
  padding: 15px;
  background-color: transparent;
}

.list-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;
}

.counter-style {
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.options-button {
  margin-top: 180px;
  position: absolute;
  border-radius: 25px;
  width: 100px;
  background-color: white;
  z-index: 10;
  overflow-y: auto;
  list-style: none;
  padding: 10px;
}

.options-button li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.options-button button {
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.options-button li:last-child {
  border-bottom: none;
}

.options-button button:hover {
  transform: translate(10px, 0);
}

.new-list {
  display: flex;
}

.new-list img {
  cursor: pointer;
  padding: 10px;
  width: 20px;
  height: 20px;
}

.new-list input[type="text"] {
  background-color: transparent;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

.new-task {
  display: flex;
  gap: 10px;
  background-color: rgba(231, 231, 231, 0.377);
  border-radius: 15px;
  border: 1px solid rgb(231, 231, 231);
}

.new-task img {
  width: 20px;
  height: 20px;
  padding-top: 15px;
  padding-left: 15px;
  cursor: pointer;
}

.new-task-info {
  display: flex;
  gap: 10px;
}

.calendar-container img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.calendar-picker {
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid rgb(231, 231, 231);
}

.calendar-picker input {
  cursor: pointer;
}

.calendar-picker label {
  padding-right: 25px;
}

#end-date-style {
  padding-left: 10px;
}
